.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 24px 20px;
    margin: 0;
    width: 100%;
    border-bottom: 1px solid #282729;
}

.nav__logo {
    width: 138px;
    height: 38px;
}

.nav__links {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 30px;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 60px;
    padding: 8px 40px;
    margin: 0;
}

.nav__links-link {
    position: relative;
    display: inline-block;
    color: rgba(255, 255, 255, 0.6);
    font-size: 13px;
    line-height: 26px;
    font-weight: 400;
    text-decoration: none;
    transition: all 0.3s ease;
}

.nav__links-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 3px;
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.6);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.nav__links-link:hover::after {
    opacity: 1;
}

.nav__links-link:focus-visible, .nav__links-link:focus {
    outline: none;
}

.nav__login-outer { 
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 12px;
    width: 120px;
    padding: 6px;
}


.nav__login {
    font-size: 13px;
    line-height: 26px;
    font-weight: 400;
    text-decoration: none;
    background-color: rgba(3, 18, 84, 1);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 8px;
    box-shadow: inset 0 0 3px 4px rgba(255, 255, 255, 0.25);
    color: rgba(255, 255, 255, 1);
    padding: 2px 0;
    width: 100%;
    text-align: center;
    display: block;
    transition: background-color 0.3s ease;
}

.nav__login:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

.nav__login:focus, .nav__login:focus-visible {
    outline: none;
}