.pwc {
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.pwc__intro {
    margin: 0 0 55px;
}

.pwc__title {
    margin: 0 0 20px;
}

.pwc__desc {
    font-style: 22px;
    line-height: 24px;
    font-weight: 400;
    color: #fff;
    margin: 0;
}

.pwc__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 100px;
}

.pwc__input {
    width: 280px;
    padding: 20px 16px;
    background-color: rgba(0, 0, 0, 0.06);
    border: 2px solid rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #fff;
    transition: border 0.3s ease;
    margin: 0 0 15px;
}

.pwc__input::placeholder {
    color: rgba(255,255,255,.5);
    transition: opacity 0.3s ease;
}

.pwc__input:focus::placeholder {
    opacity: 0;
}

.pwc__input:hover {
    border: 3px solid rgba(255, 255, 255, 0.15);
}

.pwc__input:focus-visible {
    outline: none;
}

.pwc__note {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #fff;
    margin: 0;
}

.pwc__results {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.pwc__results-title {
    font-size: 32px;
    line-height: 36px;
    font-weight: 700;
    background: linear-gradient(90deg,#F2F2F7 0%,#44449A 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    margin: 0 0 50px;
}

.pwc__grid {
    display: grid;
    grid-template-columns: 448px 1fr;
    gap: 65px;
    width: 100%;
    margin: 0 0 50px;
}

.pwc__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.06);
    padding: 20px;
    position: relative;
}

.pwc__card::after {
    content: "";
    position: absolute;
    left: 0;
    top: 70px;
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.15);
}

.pwc__card-title {
    font-size: 24px;
    line-height: 26px;
    font-weight: 500;
    color: #fff;
    margin: 0 0 46px;
}

.pwc__gauge {
    margin: 0 0 15px;
}

.gauge__value-pwdch {
    position: absolute;
    font-size: 46px;
    line-height: 50px;
    font-weight: 700;
    background: linear-gradient(90deg,#F2F2F7 0%,#44449A 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    left: 175px;
    bottom: 170px;
}

.pwc__card-note {
    font-size: 22px;
    line-height: 24px;
    font-weight: 400;
    color: #fff;
    margin: 0;
}

.pwc__break {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.pwc__break-label {
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    color: #fff;
    margin: 0 0 5px;
}

.pwc__bar {
    width: 685px;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 64px;
    overflow: hidden;
    box-shadow: inset 0 0 3px 4px rgba(255, 255, 255, 0.25);
}

.pwc__bar-fill {
    height: 100%;
    background-color: rgba(3, 18, 84, 1);
    border-radius: inherit;
    box-shadow: inset 0 0 3px 4px rgba(255, 255, 255, 0.25);
    transition: width 0.4s ease;
}

.pwc__break-note {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #fff;
    margin: 10px 0 20px;
}

.pwc__variety {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #fff;
    margin: 10px 0 20px;
    padding: 0 0 0 20px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.pwc__dict-icon {
    margin: 0 0 20px;
}

.pwc__recs {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: #fff;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.pwc__recs-item {
    margin: 0 0 25px;
}